#Outer_Div {
    height: 1000vh;
    /* position: relative; */
    background-color: rgb(86, 44, 165);


}

#Header {
    position: sticky;
    top: 0;
    height: 150px;
    margin-block-start: max-content;
    background-color: blue;
    border-bottom: 8px solid #4aaaa5;
    z-index: 1;


}

#Your_Name {
    float: left;
    background-color: tomato;
    padding: 50px;
    margin: 10px;


}

#name {

    font-family: fantasy;
    font-weight: bolder;
    font-size:  30px;
    


}

#About {
    float: right;
    background-color: springgreen;
    padding: 50px;
    margin: 15px;

}

#Portfolio {
    float: right;
    background-color: mediumaquamarine;
    padding: 50px;
    margin: 15px;


}

#Contact {
    float: right;
    background-color: hotpink;
    padding: 50px;
    margin: 15px;


}

#Info {

    float: inherit;
    position: relative;
    left: 450px;
    flex: 1 0 auto;

    width: 960px;
    height: 480px;
    border: 1px solid green;
    padding: 50px;
    margin: 20px;
    z-index: 0;




}

#About_me {

    position: absolute;
    left: 15px;
    top: 5px;

    width: 80px;
    border: 5px solid green;
    padding: 5px;
    margin: 5px;



}

.content {

    display: inherit;



}

#image {

    float: none;

}

#Car {

    left: 60px;
    top: 80px;
    float: left;
    height: 200px;
    width: 200px;
    margin: 20px;


}

#footer {

    position: sticky;;
    height: 100px;
    top: 910px;
    padding: 0px;
    border: 1px;
    color: blue;
    background-color: lightcoral;
    z-index: 8;
    border-top: 8px solid #4aaaa5;
    



}

#footer_tag {

    position: absolute;
    left: 800px;
    top: 42px;


}

#contact_form  {

    float: inherit;
    position: relative;
    left: 450px;
    flex: 1 0 auto;

    width: 960px;
    height: 480px;
    border: 1px solid green;
    padding: 50px;
    margin: 20px;
    z-index: 0;



}

#form  {

    position: absolute;
    right: 55%;
    bottom: 25%;



}

#contact_name {

    width: 280%;

}

#email {

    width: 280%;



}

#message {

    width: 280%;
    height: 25vh;



}

#footer_contact {

    position: sticky;
    height: 100px;
    top: 910px;
    padding: 0px;
    border: 1px;
    color: blue;
    background-color: lightcoral;
    z-index: 8;
    border-top: 8px solid #4aaaa5;

}




    